.page {
    width: 100vw;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
    font-family: var(--font-geist-sans);
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: 5em 0;

    h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    @media (max-width: 1200px) {
        h1 {
            margin: 0 1em 0 1em;
        }
    }
}
