.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.header {
  display: flex;
  justify-content: space-between;

  button {
    padding: 0.5em 3em;
    border: none;
    border-radius: 0.5em;
  }
}

.detailsWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .about {
    grid-column: span 7;
  }

  .moreDetails {
    grid-column: 9 / span 4;
  }
}
