.page {
  width: 100vw;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8em;
  font-family: var(--font-geist-sans);
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 5em 0;
}
