.page {
  width: 100vw;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8em;
  font-family: var(--font-geist-sans);
}

.main {
  margin: 5em 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  grid-row-start: 2;

  .category {
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    h2 {
      margin-left: 2.4em;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}
