.embla {
    width: 100vw;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.emblaViewport {
    overflow: hidden;
}

.emblaContainer {
    display: flex;
}

.emblaSlide {
    flex: 0 0 14%;
    min-width: 0;
}

.emblaPrev {
    width: 38px;
    height: 38px;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(237, 237, 237, 0.2);
    border-radius: 50%;

    img {
        display: block;
        margin: auto;
        transform: rotate(180deg);
    }

    &:hover {
        background-color: rgba(237, 237, 237, 0.2);
    }

    &:disabled {
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(237, 237, 237, 0.05);

        img {
            opacity: 20%;
        }
    }
}

.emblaNext {
    width: 38px;
    height: 38px;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(237, 237, 237, 0.2);
    border-radius: 50%;

    img {
        display: block;
        margin: auto;
    }

    &:hover {
        background-color: rgba(237, 237, 237, 0.2);
    }

    &:disabled {
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(237, 237, 237, 0.05);

        img {
            opacity: 20%;
        }
    }
}
