.nav {
    width: 100%;
    max-width: 1200px;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    a {
        text-transform: uppercase;
    }

    .logo a {
        font-size: 1.4rem;
    }

    .searchContainer{
        margin-left: auto;
        position: relative;
        display: flex;
        align-items: center;
        gap: 1em;
        border: none;

        input {
            width: 50vw;
            padding: 0.5em 1em;
            background: #ededed;
            border: none;
            border-radius: 1.5em;
            font-size: 1rem;
            color: #161616;
        }

        button {
            position: absolute;
            right: 0.1em;
            background: none;
            border: none;
            font-size: 1rem;
            font-weight: 600;
            color: #161616;
            padding: 0.5em 1em;
            cursor: pointer;
        }
    }
}
