.embla {
    margin-top: 2em;
    max-width: 1200px;
}

@media (max-width: 1200px) {
    .embla {
        margin: 2em 1.5em 0 1.5em;
    }
}

.emblaViewport {
    overflow: hidden;
}

.emblaContainer {
    display: flex;
}

.emblaSlide {
    flex: 0 0 100%;
    min-width: 0;
}

.mainImage {
    width: 100%;
    height: auto;
    border-radius: 0.8em;
}

/* Thumbnails */
.thumbViewport {
    margin-top: 1em;
    overflow: hidden;
}

.thumbContainer {
    display: flex;
    gap: 0.8em;
}

.thumbSlide {
    flex: 0 0 22%;
    min-width: 0;
    border: none;
    background: transparent;
}

.thumbImage {
    width: 100%;
    height: auto;
    border-radius: 0.8em;
}
