.page {
  width: 100vw;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8em;
  font-family: var(--font-geist-sans);
}

.main {
  margin: 5em 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 0.8em;

  h1 {
    margin-bottom: 1.2em;
  }
}

.list {
  display: flex;
  gap: 2em;

  img {
    width: 300px;
    border-radius: 0.8em;
  }

  h2 {
    margin-top: 0.5em;
    font-weight: 400;
  }

  button {
    margin-left: auto;
    margin-top: auto;
    padding: 0.8em 3em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
}
