.page {
    width: 100vw;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
    font-family: var(--font-geist-sans);

    header {
        width: 100vw;
        max-height: 40vh;
        overflow: hidden;
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        img {
            width: 100%;
            height: auto;
            grid-column: 1;
            grid-row: 1 / span 2;
        }

        .overlay {
            grid-column: 1;
            grid-row: 1 / span 2;
            background: linear-gradient(rgba(22, 22, 22, 0.6), rgba(22, 22, 22, 1));
        }

        h1 {
            width: 100%;
            max-width: 1200px;
            margin: auto auto 0.5em;
            grid-column: 1;
            grid-row: 2;
        }
    }
}

.main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 5em;

    .about {
        display: flex;
        flex-direction: column;
        gap: 1em;

        p {
            max-width: 60vw;
            line-height: 1.8;
        }
    }
}

.genreWrapper {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
}
